* {
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
  box-shadow: 0 0 0 1px lawngreen;
}
html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #c9bdbd;
}
header {
  border-right: 1px solid gray;
}
header .search {
  display: grid;
  grid-template-columns: 83% 1fr;
  background-image: url("loupe1.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 15px 18px;
  opacity: 0.7;
}
header .search .write_a_message-pic {
  display: block;
  background-image: url("pencil.svg");
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: 11px 13px;
  opacity: 0.4;
}
input {
  outline: none;
  margin: 12px 2px 5px 10px;
  width: 160px;
  height: 32px;
  border-radius: 9px;
  background-color: #f5f0f0;
  font-family: inherit;
  padding: 6px 0 3px 37px;
  border-style: none;
  opacity: 0.7;
  font-size: 12px;
}
input:focus {
  width: 250px;
  transition: all 170ms ease-out;
  font-size: 17px;
}
.users .user {
  display: block;
}
.users .user input:checked + .flex {
  background-color: #a2b9bc;
  border-bottom: 1px solid gray;
}
.users .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.users .flex span {
  padding: 12px 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 70%;
}
.users .flex span + span {
  font-size: 10px;
}
section {
  display: grid;
  grid-template-rows: 1fr 100px;
}
section .chat-container {
  background-color: #f5f0f0;
  margin: 21px 141px 6px 161px;
  box-shadow: -1px 7px 11px -10px black;
  border-radius: 18px;
  padding: 7px 10px 11px 21px;
}
section .chat-container .message-container {
  display: grid;
  grid-template-rows: 50px 50px;
  font-size: 17px;
}
section .chat-container .message-container .incoming-m {
  padding: 20px;
}
section .chat-container .message-container .incoming-m .content {
  max-width: 70%;
}
section .chat-container .message-container .incoming-m .content .text {
  display: inline-block;
  padding: 0 10px 0 0;
}
section .chat-container .message-container .outgoing-m {
  text-align: right;
}
section .chat-container .message-container .outgoing-m .content {
  width: 70%;
  margin-left: 30%;
  max-width: 70%;
}
section .chat-container .message-container .outgoing-m text {
  padding: 0 10px 0 0;
}
section .chat-container .message-container .outgoing-m .time-date {
  padding: 0 0 0 10px;
}
section .chat-container span + span {
  font-size: 10px;
}
section .chatting {
  display: flex;
  justify-content: space-between;
}
section .chatting .am-chat {
  display: block;
  cursor: text;
  width: 100%;
  border-radius: 16px;
  max-height: 220px;
  height: 55px;
  border: solid 1px #d3d9d;
  line-height: 17px;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 12px 0 0 15px;
  outline: none;
  background-color: #f5f0f0;
  margin: 9px 129px 9px 168px;
  box-shadow: -1px 7px 11px -10px black;
}
@media screen and (max-width: 234px) {
  section .chatting .am-chat {
    width: 300px;
  }
}
section button {
  position: absolute;
  right: 129px;
  bottom: 36px;
  box-shadow: -2px 1px 5px -5px black;
  padding: 20px 16px;
  background: #f5f0f0;
  font-weight: 600;
  cursor: pointer;
  outline: 0 !important;
  opacity: 0.8;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-style: none;
}
section button:active {
  margin-top: 5px;
  box-shadow: 0 2px 0 0 #ada6a6;
}
.chat-body {
  display: grid;
  grid-template-columns: 317px 1fr;
  height: 100vh;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
