* {
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1px green;
  font-family: 'Montserrat Alternates', sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 16px;
}
header {
  border-right: 1px solid gray;
}
header .users .user {
  display: block;
}
header .users .user input:checked + .flex {
  background-color: #ebe4e4;
  border-bottom: 1px solid gray;
}
header .users .user .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .users .user .flex span {
  padding: 12px 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 70%;
}
header .users .user .flex span + span {
  font-size: 12px;
}
section {
  display: grid;
  grid-template-rows: 1fr 100px;
}
section .chat-container .message-container {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
section .chatting {
  display: flex;
  justify-content: space-between;
}
section .chatting .am-chat {
  display: block;
  cursor: text;
  width: 100%;
  border-radius: 16px;
  max-height: 220px;
  height: 55px;
  border: solid 1px #d3d9d;
  line-height: 17px;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 12px 0 0 15px;
  outline: none;
  background-color: #f5f0f0;
  margin: 9px 129px 9px 168px;
  box-shadow: -1px 7px 11px -10px black;
}
section .chatting button {
  position: absolute;
  right: 129px;
  bottom: 36px;
  box-shadow: -2px 1px 5px -5px black;
  padding: 20px 16px;
  background: #f5f0f0;
  font-weight: 600;
  cursor: pointer;
  outline: 0 !important;
  opacity: 0.8;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
section .chatting button:active {
  margin-top: 5px;
  box-shadow: 0 2px 0 0 #ada6a6;
}
section .chatting button:hover {
  background-color: #ebe4e 4e;
}
.chat-body {
  display: grid;
  grid-template-columns: 317px 1fr;
  height: 100vh;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
